<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Marionette.js</title>

		<meta name="description" content="A presentation on Marionette.js">
		<meta name="author" content="Jens Titterness">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<script src="./lib/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./lib/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./lib/js/backbone-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./lib/js/backbone.marionette.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/main.js" type="text/javascript" charset="utf-8"></script>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>Marionette.js</h1>
				</section>

				<section>
					<h3>Contents</h3>
					<ul>
						<li>Why have a front-end MVC framework?</li>
						<li>What is Backbone.js?</li>
						<li>What is Marionette.js?</li>
						<li>Where does Backbone end & Marionette begin?</li>
						<li>Why should we use Marionette?</li>
						<li>Code Examples</li>
						<li>Questions?</li>
					</ul>
				</section>

				<section>
					<h3>Why have a front-end MVC framework?</h3>
					<ul>
						<li>Provides design pattern to follow when building web apps</li>
						<li>Code quality improves since there is a pattern to follow</li>
						<li>Improved browser support compared to custom solutions</li>
						<li>Community backed support</li>
					</ul>
				</section>

				<section>
					<h3>What is Backbone.js?</h3>
					<h5>Front-end MVC framework</h5>
					<ul>
						<li>Defined pattern for working with models and views</li>
						<ul>
							<li>Makes working with models/views easy</li>
							<li>Easily extendable to add features</li>
						</ul>
					</ul>
					<br><br>
					<h5>Lightweight and open framework</h5>
					<ul>
						<li>Backbone doesn’t force a design pattern</li>
							<ul>
								<li>Flexible to meet most designs</li>
							</ul>
						<li>Provides basic amount of features to let users control how it is used</li>
						<ul>
							<li>Doesn’t provide every feature under the sun to remain flexible</li>
						</ul>
					</ul>
				</section>


				<section>
					<h3>What is Marionette.js?</h3>
					<p>Expands upon Backbone by providing more object, views, and features</p>
					<ul>
						<li>Think of Marionette as Backbone++</li>
						<li>Reduces boilerplate/custom code by providing different view types</li>
					</ul>
					<p>Provides more defined project structure</p>
					<ul>
						<li>Since Backbone is open ended as to how projects should be design, Marionette provides addition structural options</li>
					</ul>
				</section>

				<section>
					<h3>Where does Backbone end...</h3>
					<p>Backbone only provides model, collection, view, and router.</p>
					<ul>
						<li>Backbone provides a starting point for each object. To extend functionality you have to do it manually and to fit each use case. This leads to a lot of repeated boilerplate code.</li>
					</ul>
				</section>

				<section>
					<h3>...and Marionette begin?</h3>
					<p>Marionette mostly expands on views but provides additional helpful features</p>
					<ul>
							<li>CollectionView - Used to display collections</li>
							<li>ItemView - Meant to display a single item e.g. model, collection, template</li>
							<li>CompositeView - Useful when a view needs complex data e.g. a view that displays a model and a collection</li>
							<li>LayoutView - Used to manage regions or nested views </li>
							<li>Regions - Used to manage views</li>
					</ul>
				</section>

				<section>
					<h3>Why should we use Marionette?</h3>
					<ul>
						<li>Backbone is designed to be flexible enough to run anywhere JavaScript runs. Marionette builds on Backbone to make it a more complete framework for building web apps</li>
						<li>Using Marionette will help development because of less boilerplate code and thus increasing dev time</li>
						<li>Easy to learn once you have an understanding of the Backbone library</li>
					</ul>
				</section>

				<section>
					<h3>Why should we use Marionette? Cont...</h3>
					<ul>
						<li>Teams in EWE are already adopting Backbone, some are already adopting Marionette</li>
						<li>Marionette is currently the largest framework built on Backbone (community, adoption)</li>
						<li>It’s Backbone, but with more vertebrae</li>
					</ul>
				</section>

				<section>
					<section>
						<h3>Example 1 – Backbone Collection View</h3>
						<div id="backboneContainer" class="container"></div>

					</section>
								<section>
									<h3>Example 1 – Code</h3>
									<pre>
									<code data-trim contenteditable>
//Define model/collection
var Model = Backbone.Model.extend({
	id: undefined
});
var Collection = Backbone.Collection.extend({model: Model});

//Build views
var ChildView = Backbone.View.extend({
	template: _.template("id <%= id %>"),
	render: function() {
		return this.$el.html(this.template(this.model.attributes));
	}
});

var CollectionView = Backbone.View.extend({
	initialize: function() {this.views= [];},
	render: function() {
		if (this.collection) {
			var self = this,
					view;
			this.collection.each(function(model) {
				view = new ChildView({model: model});
				self.$el.append(view.render());
				self.views.push(view);
			});
		}
	}
});

var exampleCollection = new Collection();

for (var i = 0; i < 5; i++) {
	exampleCollection.add(new Model({id: i}));
}

// create view object
var collectionViewInstance = new CollectionView({collection: exampleCollection});

// render view and add to page
collectionViewInstance.render();
$('#backboneContainer').append(collectionViewInstance.$el);

									</code>
									</pre>
								</section>
							</section>

							<section>
								<section>
									<h3>Example 1 – Marionette Collection View</h3>
									<div id="marionetteContainer" class="container"></div>

								</section>
											<section>
												<h3>Example 1 – Code</h3>
												<pre>
												<code data-trim contenteditable>
//Define model/collection
var Model = Backbone.Model.extend({
	id: undefined
});
var Collection = Backbone.Collection.extend({model: Model});

//Build views
var ChildView = Marionette.ItemView.extend({
		template: _.template("id <%= id %>"),
		model: Model
});


var CollectionView = Marionette.CollectionView.extend({
	childView: ChildView
});

// build collection for collection view
var exampleCollection = new Collection();

for (var i = 0; i < 5; i++) {
	exampleCollection.add(new Model({id: i}));
}

// create view object
var collectionViewInstance = new CollectionView({collection: exampleCollection});

// render view and add to page
collectionViewInstance.render();
// add to page
$('#marionetteContainer').append(collectionViewInstance.$el);
												</code>
												</pre>
											</section>
										</section>



					<section>
						<h3>Example 2 - Behaviors</h3>
						<pre>
							<code>
//Define Tooltip behavior
var ToolTip = Marionette.Behavior.extend({
	ui: {
		tooltip: ‘.tooltip’
	},
	onShow: function() {
		this.ui.tooltip.tooltip({
			text: this.options.text
		});
	}
});

// save behavior
window.behaviors.Tooltip = ToolTip;

// tell marionette where to find behaviors
Marionette.Behaviors.behaviorsLookup = function() {
	return window.Behaviors;
}

// define view with tooltip behavior
var View = Marionette.ItemView.extend({
	behaviors: {
		ToolTip: {
			text: “This view’s tooltip text here”
		}
	}
});
							</code>
						</pre>
					</section>

					<section>
						<p>Questions?</p>
						<p>Comments?</p>
					</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
